<div class="card">
  <div class="card-body">
    <div class="card-title text-center">
      <h2>Notificações</h2>
    </div>

    <li class="list-group-item pt-2">
      <h3>Sobre a Notificação</h3>
    </li>
    <li class="list-group-item">
      <ol class="pt-2">
        <li>Não há a necessidade de se identificar;</li>
        <li>
          Os eventos notificáveis envolvem pacientes, processos e equipamentos
          (queixa técnica);
        </li>
        <li>
          Eventos envolvendo pacientes precisam constar o nome do paciente, data
          de nascimento, o número do prontuário e registro;
        </li>
      </ol>

      <h3 class="pt-3">Notifique</h3>
      <p class="text-muted">
        Sinta-se seguro, as informações não serão vinculadas a nenhum
        colaborador específico. O objetivo é melhorar a segurança do paciente,
        do colaborador e da instituição.
      </p>
      <p class="text-danger">
        Preencha o formulário abaixo para realizar a notificação*
      </p>
    </li>
    <!--form-->
  </div>
</div>
