{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Responder Ocorrência</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Exibe o formulário com os campos do ResponseOcurrence -->
        {{ form.as_p }}

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Enviar Resposta</button>
            <a href="{% url 'ocurrence_detail' ocurrence.id %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
