{% load static %}
<!-- Seção de Informações do Paciente -->
<div class="row g-3">

<!-- form.incident_classification do Paciente -->
<div class="col-md-4">
  <div class="form-floating">
    <i class="bi bi-person"></i> ID do Paciente:
    <b>{{ patient.id }}</b>
  </div>
</div>

<!-- Nome do Paciente -->
<div class="col-md-4">
  <div class="form-floating">
    <i class="bi bi-person"></i> Nome do Paciente:
    <b>{{ patient.patient_name }}</b>
  </div>
</div>

<!-- Data de Nascimento -->
<div class="col-md-4">
  <div class="form-floating">
    <i class="bi bi-calendar3"></i> Data de Nascimento:
    <b>{{patient.birth_date}}</b>
  </div>
</div>

<!-- Atendimento -->
<div class="col-md-4">
  <div class="form-floating">    
    <i class="bi bi-hospital"></i> Atendimento:
    <b>{{patient.attendance}}</b>
  </div>
</div>

<!-- Registro -->
<div class="col-md-4">
  <div class="form-floating">

   <i class="bi bi-journal"></i> Registro:
   <b>{{patient.record}}</b>
  </div>
</div>

<!-- Data do Internammento-->
<div class="col-md-4">
  <div class="form-floating">
    
  <i class="bi bi-calendar2-plus"></i> Data de Internamento:
  <b>{{patient.internment_date}}</b>
  </div>
  </div>


  <!-- Gênero -->
  <div class="col-md-8">
    <div class="form-floating mb-3">
      
    <i class="bi bi-building"></i> Gênero:
    <b>{{patient.genere}}</b>
    </div>
  </div>

  <!-- Raça/Cor -->
  <div class="col-md-4">
    <div class="form-floating mb-3">
      <i class="bi bi-building"></i> Raça: 
      <b>{{patient.race}}</b>
    </div>
  </div>
</div>
<hr />