{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
  <!-- Datatables -->
  <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

<style>
.dt-buttons .btn {
    padding: 5px 10px; /* Ajusta o padding dos botões */
    font-size: 14px; /* Tamanho da fonte menor */
    margin-right: 5px; /* Espaço entre os botões */
}

.dataTables_filter {
    float: right; /* Alinha o campo de pesquisa à direita */
}

.dataTables_wrapper .col-md-1, 
.dataTables_wrapper .col-md-6 {
    display: flex;
    align-items: center;
}
</style>
{% endblock %}

{% block content %}
<div class="col-md-12 col-sm-12 ">
  <div class="x_panel">
    <div class="x_title">
      <h2>{% block subtitle %}{% endblock subtitle %}<small></small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        <li><a href="{% block link %} {% endblock %}" ><i class="fa fa-plus"></i> Adicionar</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-box table-responsive">
            <p class="text-muted font-13 m-b-30"></p>
            <table id="mgbmtable" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  {% block columns %}{% endblock columns %}
                </tr>
              </thead>
              <tbody>
                {% block lines %}{% endblock lines %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} {% include 'components/_pagination.html' %} {% endcomment %}

{% endblock %}

{% block extra_script %}
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>



  <script>
$("#mgbmtable").DataTable({
    "dom": 'Bfrtip',
    "responsive": true,
    "lengthChange": false,
    "autoWidth": false,
    "buttons": ["excel", "pdf", "print"],
    "language": {
        "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
    },
}).buttons().container().appendTo('#mgbmtable_wrapper .col-md-6:eq(0)'); // Mudar para col-md-6

</script>
{% endblock %}