{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
  <main>
    <div class="container">
      {% if form.errors %}
        <div class="alert alert-danger mt-4">
          <ul class="mb-0">
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-2 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-1">
              </div><!-- End Logo -->

              <div class="card mb-1">

                <div class="card-body">

                  <div class="pt-1 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">SafeCare</h5>
                    <p class="text-center small">Informe seu email e sua senha!</p>
                  </div>

                  <form class="row g-3 needs-validation" method="post">
                  {% csrf_token %}

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Por favor informe seu email.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Senha</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Por favor informe sua senha</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Lembre-me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Esqueceu sua senha? <a href="#">Clique aqui!</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
{% endblock %}
