<!-- Floating Labels Form -->
<div class="row g-3">

  <!-- Descrição da ocorrência -->
      <div class="col-md-6">
        <label class="form-label"><i class="bi bi-warn"></i> Descrição da Ocorrência:</label>
        <ul class="list-group">
            <li class="list-group-item">
                <p><b>{{ocurrence.description_ocurrence}}</b></p>
            </li>
        </ul>
    </div>

  <!-- O que foi realizado após a ocorrência / Ação imediata -->
      <div class="col-md-6">
        <label class="form-label"><i class="bi bi-warn"></i> O que foi realizado após a ocorrência / Ação
          imediata:</label>
        <ul class="list-group">
            <li class="list-group-item">
                <p> <b>{{ocurrence.immediate_action}}</b></b></p>
            </li>
        </ul>
    </div>
</div>
<!-- End floating Labels Form -->