<div class="row g-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CLASSIFICAÇÃO DA OCORRÊNCIA</h5>
        <ul>
          <li>
            <b>CIRCUNSTÂNCIA DE RISCO</b>
            - Houve potencial significativo para ocorrência do dano, mas sem
            ocorrência de evento com o paciente.
          </li>
          <br />
          <li>
            <b>NÃO CONFORMIDADE</b>
            - Houve quebra na contratualização.
          </li>
          <br />
          <li>
            <b>NEAR MISS: QUASE ERRO</b>
            - Incidente que não atinge o paciente.
          </li>
          <br />
          <li>
            <b>INCIDENTE SEM DANO</b>
            - Evento que atingiu o paciente, mas não cheogu a resultar em dano.
          </li>
          <br />
          <li>
            <b>INCIDENTE COM DANO</b>
            (Evento Adverso) - Evento que resultou em dano ao paciente.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">GRAU DO DANO</h5>
        <ul>
          <li>
            <b>LEVE</b>
            - Ocorrência de sintomas leves, perda de função ou danos mínimos /
            moderados, mas com duração rápida, e apenas foram necessárias
            intervenções mínimas.
          </li>

          <li>
            <b>MODERADO</b>
            - Ocorrência de sintomas, com necessidade de intervenção, aumento do
            tempo de internação, com dano ou perda de função.
          </li>

          <li>
            <b>GRAVE</b>
            - Ocorrência de sintomas, com necessidade de intervenção para
            suporte avançado à vida, ou intervenção clínica / cirúrgica de
            grande porte, causando diminuição da expectativa de vida, com grande
            dano ou perda de função permanente ou de longo prazo.
          </li>

          <li style="margin-bottom: 40px;">
            <strong>ÓBITO</strong>
            - Dentro das probabilidades
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
