{% load static %}
<!-- Seção de Informações do Paciente -->
<div id="showPatient" class="row g-3">
<hr />

<!-- Nome do Paciente -->
<div class="col-md-8">
  <div class="form-floating">
{% comment %}     <input
      type="text"
      class="form-control"
      id="patientName"
      placeholder="Nome do Paciente"
      required
      min="5"
      pattern="^[A-Za-zÀ-ú\s]+$"
      title="Somente letras e espaços são permitidos"
    /> {% endcomment %}
    {{ form.patient_name }}
    <label for="patientName"
      ><i class="bi bi-person"></i> Nome do Paciente</label
    >
    <span class="error" id="nameError"></span>
    <span class="error" id="nameError">{{form.patient_name.errors}}</span>
     <!-- Mensagem de erro -->
  </div>
</div>

<!-- Data de Nascimento -->
<div class="col-md-4">
  <div class="form-floating">
{% comment %}     <input
      type="date"
      class="form-control"
      id="birthDate"
      placeholder="Data de Nascimento"
      required
    /> {% endcomment %}
    {{form.birth_date}}
    <label for="birthDate"
      ><i class="bi bi-calendar3"></i> Data de Nascimento</label
    >
    <span class="error" id="birthDateError"></span> 
    <span class="error" id="birthDateError">{{form.birth_date.errors}}</span>
    <!-- Mensagem de erro -->
  </div>
</div>

<!-- Atendimento -->
<div class="col-md-4">
  <div class="form-floating">
{% comment %}     <input
      type="text"
      class="form-control"
      id="attendance"
      placeholder="Atendimento"
      required
    /> {% endcomment %}
    {{form.attendance}}
    <label for="attendance"
      ><i class="bi bi-hospital"></i> Atendimento</label
    >
    <span class="error" id="attendanceError"></span> 
    <span class="error" id="attendanceError">{{form.attendance.errors}}</span>
    <!-- Mensagem de erro -->
  </div>
</div>

<!-- Registro -->
<div class="col-md-4">
  <div class="form-floating">
{% comment %}     <input
      type="text"
      class="form-control"
      id="record"
      placeholder="Registro"
      required
    /> {% endcomment %}
    {{form.record}}
    <label for="record"><i class="bi bi-journal"></i> Registro</label>
  <span class="error" id="recordError"></span>
  <span class="error" id="recordError">{{form.record.errors}}</span>
   <!-- Mensagem de erro -->
  </div>
</div>

<!-- Data do Internammento-->
<div class="col-md-4">
  <div class="form-floating">
{% comment %}     <input
      type="date"
      class="form-control"
      id="internmentDate"
      placeholder="Data de Internamento"
      required
    /> {% endcomment %}
    {{form.internment_date}}
    <label for="internmentDate"
      ><i class="bi bi-calendar2-plus"></i> Data de Internamento</label
    >
  </div>
  <span class="error" id="internmentDateError"></span> <!-- Mensagem de erro -->
  <span class="error" id="birthInternmentDateError"></span><!-- Mensagem de erro -->
  <span class="error" id="ocurrenceDateError" role="alert" aria-live="assertive">
      {{ form.internment_date.errors }}
    </span>
  </div>
</div>

<script type="module" src="{% static 'assets/js/events/main.js' %}"></script>