<!-- Data da Ocorrência -->
<div class="col-md-6">
  <div class="form-floating">
    {{form.ocurrence_date}}
    <label for="ocurrenceDate"
      ><i class="bi bi-calendar-event"></i> Data da Ocorrência</label
    >
    <span class="error" id="ocurrenceDateError"></span>
    <span class="error">{{ form.ocurrence_date.errors }}</span>
    <!-- Mensagem de erro -->
  </div>
</div>

<!-- Hora da Ocorrência -->
<div class="col-md-6">
  <div class="form-floating">
  {{form.ocurrence_time}}
    <label for="ocurrenceTime"
      ><i class="bi bi-clock"></i> Hora da Ocorrência</label
    >
    <span class="error" id="ocurrenceTimeError"></span>
    <span class="error">{{ form.ocurrence_time.errors }}</span>
    <!-- Mensagem de erro -->
  </div>
</div>

<!-- Seção de Setores Envolvidos -->
<hr />

<!-- Setor Notificante -->
<div class="col-md-6">
  <div class="form-floating mb-3">
{{form.reporting_department}}
    <label for="reportingSector"
      ><i class="bi bi-building"></i> Setor Notificante</label
    >
  </div>
</div>

<!-- Setor Notificado -->
<div class="col-md-6">
  <div class="form-floating mb-3">
  {{form.notified_department}}
    <label for="notifiedSector"
      ><i class="bi bi-building"></i> Setor Notificado</label
    >
  </div>
</div>
