{% extends "base.html" %} 
{% load static %} 
{% block page_name %} 
{% endblock page_name %} 
{% block content %} 

{% include 'partial/_events_modal_warning.html' %} 

{% include 'partial/_events_initial_message.html' %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title text-primary mb-4">
      Ficha de Notificação de Eventos
    </h5>

    <!-- Floating Labels Form -->
    <form class="row g-3"  method="post">
    {% csrf_token %}
      <!-- Seção do radiobutton -->
      <div class="text-center">
        <b>
          <div class="text-danger">A ocorrência envolveu um paciente?</div>
        {{form.patient_involved}}
        </b>
      </div>

      <!-- Seção de Informações da Notificação -->

      <!-- Data da Notificação (somente leitura) -->
      <div class="col-md-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control bg-light"
            id="floatingNotificationDate"
            placeholder="Data da Notificação"
            value="{{ current_date }}"
            readonly
          />
          <label for="floatingNotificationDate"
            ><i class="bi bi-calendar3"></i> Data da Notificação</label
          >
        </div>
      </div>
    

 {% include 'partial/_events_form_patient.html' with form=patient_form %}

      <!-- Seção de Dados da Ocorrência -->
      <hr />

{% include 'partial/_events_form_ocurrence_1.html' with form=form %}

{% include 'partial/_events_form_ocurrence_message.html' with form=form %}

{% include 'partial/_events_form_ocurrence_2.html' with form=form %}

      <!-- Botões de ação -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-send"></i> Enviar Notificação
        </button>
        <button type="reset" class="btn btn-secondary">
          <i class="bi bi-eraser"></i> Limpar
        </button>
      </div>
    </form>
    <!-- End floating Labels Form -->
  </div>
</div>

{% endblock content %}
