{% extends "base.html" %} 
{% load static %} 
{% block page_name %} 
{% endblock page_name %} 
{% block content %} 
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'assets/img/ttt.png'%}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="200" height="100" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Sua ocorrência foi enviada com sucesso!</h1>
        <h2>ID: {{event.id}}</h2>
        <h2>
        Setor notificado:{{event.notified_department}}
        </h2>
        <p class="lead">
            Sinta-se seguro, as informações não serão vinculadas a nenhum
            colaborador específico. O objetivo é melhorar a segurança do paciente,
            do colaborador e da instituição.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="{% url 'events:home' %}">Notificar Novamente</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} 